.bouncing-title {
    font-weight: 600;
    font-size: 8rem;
}

@media (max-width: 768px) {
    .bouncing-title {
        font-size: 3rem; /* Adjusted size for small screens */
        text-align: center; /* Optional: center align on mobile */
        margin-bottom: 0.8rem;
    }
}

.bouncing-title span {
    display: inline-block;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.bounce {
    animation-name: bounce;
}

@keyframes bounce {
    20%, 50%, 80%, to {
        transform: scale(1,1);
    }
    40%, 45% {
        transform: scale(1.75, 0.65);
    }
    60% {
        transform: scale(1.25, 0.75);
    }
    90% {
        transform: scale(1.15, 0.85);
    }
}